#header{
    background: #1abc9c;
    font-family: 'Roboto Mono', monospace;
}

#hexperince, #hskills, #hwxp, #yeet{
    font-family: Lato;
}

body{
    background: #e0dcd9;
    width: 100%;
}

hr.new5 {
    border: 1px solid black;
  }

  .post-author img{
    width: 100px;
    height: 100px;
    vertical-align: center;
}

.post-author span{
    margin-left: 16px; 
}

.post-author img, .about-author img{
    border-radius: 50%;
}

#mod1,#mod2,#mod3,#mod4{
    width: 100px;
    height: 100px;
    vertical-align: center;
    border-radius: 50%;
}

#wxp{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#footer{
    background-color: #2f2f2f;
    padding: 50px 0;   
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

#footer h4{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#footer p{
    color: white;
}


.column {
    min-width: 300px;
    display: inline-block;
    vertical-align: top;
}

.about{
    text-align: center;
}

.about{
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

.about-author img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
}


