#header{
    background: #1abc9c;
    font-family: 'Roboto Mono', monospace;
}

#hexperince, #hskills{
    font-family: Lato;
}

body{
    background: #e0dcd9;
    width: 100%;
}

hr.new5 {
    border: 1px solid black;
  }

  .post-author img{
    width: 100px;
    height: 100px;
    vertical-align: center;
}

.post-author span{
    margin-left: 16px; 
}

.post-author img{
    border-radius: 50%;
}
