<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/about.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap" rel="stylesheet">
    <title>About Me</title>
    <link rel="shortcut icon" type="image/png" href="../imgs/favicon.png">
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> <i class="fas fa-user-graduate"></i> David</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="test.html"> Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About me</a>
            </li>
        </div>
      </nav>
      <br>
      <div id="content">
        <div class="container">
            <div class="about">
                <div id= "yeet" class="about-author">
                    <img src="../imgs/Yo.jpg">
                </div>
                    <h1 class="about-title">About Me</h1>
                    <div class="about-content">
                        <p>
                            Hi there! I'm an aspiring web developer.
                        </p>

                        <p>
                            My name is David, I'm an 19 years old Computer Science Student that wants to work as 
                            a web developer. I started my major in 2017 and started learning fundamentals of programmin in C++.
                            Today I passed the Algotithms Course and I'm still practicing my programming skills to get better.
                        </p>

                        <p>
                            Nowadays I work as FullStack Dev at ITESM, looking for solutions to problems with technology. If you want 
                            to get in contact with me, here's my email or write me a mail by using the section below. 
                            <BR>Email : davidcantumartinez@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>

    
        <div id="footer">
            <div class="container">
              <h4 class="text-center">Copyright David Cantu</h4>
                    <div class="column">
                        <h4>My Links</h4>
                        <p>
                            <a href="https://twitter.com/thenewcody">Twitter</a>
                            <br>
                            <a href="https://github.com/codyvi">GitHub</a>
                        </p>
                    </div>
              
            </div>
        </div>
    




      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
      </body>
      </html>